{% extends "base.html" %}
{% block title %}Create Tag{% endblock %}
{% block content %}
<div class="col-4">
  <h1 class="mb-4">Create a New Tag</h1>
<form action='/tags/new' method='POST'>
  <div class="form-group row">
    <label for="name" class="col-sm-2 col-form-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name">
    </div>
  </div>
  <button type="submit" class="btn btn-success float-right ml-1">Add</button>
</form>
<a href='/tags'><button class="btn btn-outline-success float-right ">Cancel</button></a>
</div>
{% endblock %}